*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.row{
    width: 100%;
    position: relative;
    /* height: 500px; */
}
.row img{
    width: 100%;
    height: 755px;
    min-height: 700px;

}
form{
    border-radius: 10px;
    width: 100%;
    height: auto;
    border: 1px solid rebeccapurple;
    position: absolute;
    top: 25%;
    right: 37.5%;
    background-color: rgba(255,255,255,0.5);
}
form input{
    border-radius: 5px;
}
form a{
    text-decoration: none;
}
form p{
    margin-left: 12.5%;
    margin-top: 5%;
    color: rgb(244, 248, 249);
    font-size: 20px;
}
form #buttondangki{
    background-color: rgb(135, 39, 57);
    color: white;
    font-size: 16px;
    font-weight: bold;
}
form #buttondangki:hover{
    background-color: rgba(75, 2, 2, 0.122);

}
form input{
    width: 75%;
    padding: 5px;
    height: 30px;
    margin-top: 15px;
    margin-left: 12.5%;
}
#linkDN:hover{
    font-size: 30px;
    font-weight: bold;
    /* color: rgba(52, 51, 51, 0.785); */
}
[class*="col-"] {
    float: left;
    padding: 15px;
   
  }
  /* For Desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* For mobile */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 50%;
    }
    .row{
        width: 100%;
        position: relative;
        height: 250px;
    }
    form{
        position: absolute;
        left: 25%;
        margin-top: 12.5%;
        /* width: 100%; */
        height: auto;
    }
}